dvc[gs]
label-studio==1.4.1.post1
pyyaml==6.0
tqdm==4.63.0
pycocotools==2.0.4
opencv-python==4.5.5.62
opencv_contrib_python==4.5.5.62
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.10.2+cu102
torchvision==0.11.3+cu102